@import url("/public/css/styles.css");
/* AlbumList  */
.album-list {
  list-style: none;
  display: inline;
  box-sizing: border-box;
}

.album-list:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.album-list-item {
  background: var(--clr-background-base);
  padding: 5px;
  width: 200px;
  height: 275px;
  margin: 10px;
  align-items: center;
  text-align: center;
  display: inline-block;
  transition: var(--transition);
}

.album-list-item:hover {
  cursor: pointer;
  background-color: var(--clr-background-highlight-two);
}

.album-image {
  margin-top: 10px;
  width: 10rem;
  height: 10rem;
  display: inline-block;
}

.album-text {
  margin-top: 12px;
  display: inline-block;
  align-items: center;
}

.album-song-title {
  color: var(--clr-text-primary);
  font-weight: bold;
  font-size: var(--fs-heading);
  margin-bottom: 12px;
}
.album-song-artist {
  color: var(--clr-text-secondary);
  font-size: small;
}

@media screen and (max-width: 600px) {
  #album-search {
    width: 90%;
    margin-left: 0;
    display: table;
    margin: 0 auto;
  }
}

.sort-menu {
  display: none;
  float: right;
  background-color: var(--clr-background-highlight-two);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.sort-menu.show {
  display: block;
}

.sort-menu a {
  color: var(--clr-text-primary);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: var(--transition);
}

.sort-menu a:hover {
  background-color: var(--clr-background-highlight-three);
}
