@import url("/public/css/styles.css");

.album-image {
    margin-left: 50px;
    margin-right: 1rem;
    width: 15rem;
    height: 15rem;
    display: inline-block;
}

.album-details {
    margin-top: 50px;
    align-items: center;
    display: inline-flex;
    color: var(--clr-text-primary);
    margin-left: 2rem;
}

.album-title {
    padding-left: 0;
    font-size: var(--fs-album-title-pc);
    margin-bottom: 1rem;
}

.album-artist {
    padding-left: 0;
    font-size: var(--fs-album-subtitle-pc);
}

.album-duration {
    padding-left: 0;
    color: var(--clr-text-secondary);
}

.edit-btn {
    position: absolute;
    right: 100px;
    top: 4rem;
    background-color: var(--clr-text-info);
    color: var(--clr-background-base);
    margin: 30px;
    padding: 20px;
    cursor: pointer;
    border-radius: var(--radius-lg);
    border: none;
    align-items: center;
    display: inline-flex;
    transition: var(--transition);
    text-decoration: none;
}

.edit-btn:hover {
    background-color: var(--clr-text-info);
    color: var(--clr-text-primary);
}

.delete-btn {
    position: absolute;
    right: 0;
    top: 4rem;
    background-color: var(--clr-text-danger);
    color: var(--clr-background-base);
    margin: 30px;
    padding: 20px;
    cursor: pointer;
    border-radius: var(--radius-lg);
    border: none;
    align-items: center;
    display: inline-flex;
    transition: var(--transition);
    text-decoration: none;
}

.delete-btn:hover {
    background-color: var(--clr-text-danger);
    color: var(--clr-text-primary);
}
