:root {
  /* Color  */
  --clr-background-base: #121212;
  --clr-background-highlight-one: #1a1a1a;
  --clr-background-highlight-two: #2a2a2a;
  --clr-background-highlight-three: #454545;
  --clr-text-primary: #fff;
  --clr-text-secondary: #a7a7a7;
  --clr-text-info: #1ed760;
  --clr-text-info-hover: #2ad967;
  --clr-text-warning: #ffa42b;
  --clr-text-danger: #f15e6c;
  --clr-text-announcement: #3d91f4;
  --clr-text-black: #000;

  /* Font size */
  --fs-album-title-pc: 4rem;
  --fs-album-subtitle-pc: 2rem;
  --fs-heading: 1rem;
  --fs-title: 0.875rem;
  --fs-caption: 0.75rem;

  --fs-mobile-album-title: 1.5rem;
  --fs-mobile-title: 1.125rem;

  /* Font Family  */

  /* Breakpoint  */
  --sm: 640px;
  --md: 768px;
  --lg: 1024px;
  --xl: 1280px;
  --2xl: 1536px;

  /* Others  */
  --radius-lg: 2rem;
  --radius-md: 0.5rem;
  --spacing: 0.25rem;
  --transition: all 0.3s linear;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

@font-face {
  font-family: CircularStd;
  src: url("/public/fonts/CircularStd-Medium.otf") format("opentype");
}

body {
  background-color: var(--clr-background-highlight-one);
  font-family: CircularStd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1 {
  font-size: var(--fs-album-title-pc);
  color: var(--clr-text-primary);
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin: 2rem;
}

h2 {
  font-size: var(--fs-album-subtitle-pc);
  color: var(--clr-text-primary);
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin: 2rem;
}

/* Button  */
.btn {
  padding: 14px 32px;
  border-radius: var(--radius-lg);
  border: none;
  background-color: var(--clr-background-base);
  color: var(--clr-text-primary);
  font-family: CircularStd;
}

.btn:hover {
  background-color: var(--clr-background-highlight-two);
  scale: 1.02;
}

.primary {
  background-color: var(--clr-text-info);
  color: var(--clr-text-black);
}

.primary:hover {
  background-color: var(--clr-text-info-hover);
}

.secondary {
  background-color: var(--clr-text-primary);
  color: var(--clr-text-secondary);
  border: 0.5px solid var(--clr-background-highlight-two);
}

.secondary:hover {
  background-color: var(--clr-text-primary);
  border: 0.7px solid var(--clr-text-black);
}

/* Arrow  */
.arrow {
  border: solid var(--clr-text-secondary);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* Navigation Bar  */
.navbar {
  padding: 8px;
  overflow: hidden;
  background-color: var(--clr-background-base);
  box-shadow: 0 0 40px var(--clr-background-base);
}

.navbar a {
  float: left;
  display: block;
  color: var(--clr-text-secondary);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: var(--fs-heading);
}

.navbar a:hover {
  color: var(--clr-text-primary);
}

.navbar a.active {
  color: var(--clr-text-primary);
}

.navbar .navbar-right {
  float: right;
  align-items: center;
  display: inline-flex;
}

input.search-bar {
  height: 45px;
  width: 350px;
  margin-top: 5px;
  margin-left: 30px;
  margin-bottom: 5px;
  color: var(--clr-text-black);
  font-size: 14px;
  font-weight: 300;
  padding-left: 25px;
  font-family: CircularStd;
  border: none;
  border-radius: var(--radius-lg);
}

.inline-child {
  display: inline-block;
}

#dropdown-btn {
  background-color: var(--clr-background-highlight-one);
  margin-left: 16px;
  margin-right: 16px;
  cursor: pointer;
  float: right;
  border-radius: var(--radius-lg);
  border: none;
  color: var(--clr-text-primary);
  font-family: CircularStd;
  align-items: center;
  display: inline-flex;
  font-size: var(--fs-heading);
}

#dropdown-btn:hover {
  background-color: var(--clr-background-highlight-two);
}

#dropdown-btn p {
  padding-right: 10px;
}

#dropdown-btn i {
  margin-right: 10px;
}

.profile-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
  display: inline-block;
}

/* @media screen and (max-width: 600px) {
  .navbar .navbar-right {
    float: none;
  }
  .navbar a, .navbar input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
    border: none;
    border-radius: var(--radius-lg);
  }
} */

/* Profile Dropdown */
.dropdown-content {
  display: none;
  float: right;
  background-color: var(--clr-background-highlight-two);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content.show {
  display: block;
}

.dropdown-content a {
  color: var(--clr-text-primary);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: var(--clr-background-highlight-three);
}

/* Song Table */

#songlist {
  border-collapse: collapse;
  margin: 50px;
  width: 80%;
}

#songlist td, #songlist th {
  border: none;
  color: var(--clr-text-secondary);
  font-weight: lighter;
  font-size: small;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 12px;
}

#songlist tr.content:hover {
  background-color: var(--clr-background-highlight-two);
  cursor: pointer;
}

#songlist th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  border-bottom: 1px solid var(--clr-background-highlight-three);
}

.songlist-title {
  align-items: center;
  display: inline-flex;
}

.song-image {
  margin-top: 12px;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  display: inline-block;
}

.title-artist {
  margin-top: 12px;
  display: inline-block;
  margin-left: 10px;
  align-items: center;
}

.song-title {
  color: var(--clr-text-primary);
  font-weight: bold;
  font-size: var(--fs-heading);
}
.song-artist {
  color: var(--clr-text-secondary);
  font-weight: lighter;
  font-size: small;
}

/* Login Page */

form.login-form {
  height: 520px;
  width: 400px;
  background-color: var(--clr-background-base);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: none;
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 50px 35px;
}

form.login-form *{
  color: var(--clr-text-primary);
  outline: none;
  border: none;
}

form.login-form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

form.login-form input {
  display: block;
  height: 50px;
  width: 100%;
  margin-top: 25px;
  color: var(--clr-text-black);
  font-size: 14px;
  font-weight: 300;
  padding: 10px;
  padding-left: 25px;
  font-family: CircularStd;
  border: none;
  border-radius: var(--radius-lg);
}

button.login{
  margin-top: 60px;
  width: 100%;
  padding: 15px 0;
  font-size: 14px;
  font-weight: 300;
}

button.register{
  margin-top: 35px;
  width: 100%;
  padding: 15px 0;
  font-size: 14px;
  font-weight: 300;
}

body.login-page {
  background-color: var(--clr-background-highlight-one);
  color: var(--clr-text-primary);
}

.back-btn {
  background-color: var(--clr-background-highlight-two);
  margin: 30px;
  padding: 20px;
  cursor: pointer;
  border-radius: var(--radius-lg);
  border: none;
  align-items: center;
  display: inline-flex;
}

.back-btn:hover {
  background-color: var(--clr-background-highlight-three);
}

/* AlbumList  */

.album-list {
  width: 97%;
  list-style: none;
  margin: 25px;
  padding: 0 1rem;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: auto auto auto auto auto auto auto;
}

@media screen and (max-width: 1000px) {
  .album-list {
    grid-template-columns: auto auto auto;
  }
}

@media screen and (max-width: 600px) {
  .album-list {
    grid-template-columns: auto auto;
  }
}

.album-list:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.album-list-item {
  background: var(--clr-background-base);
  padding: 5px;
  width: 200px;
  height: 275px;
  margin: 10px;
  align-items: center;
  text-align: center;
}

.album-list-item:hover {
  cursor: pointer;
  background-color: var(--clr-background-highlight-two);
}

.album-image {
  margin-top: 10px;
  width: 10rem;
  height: 10rem;
  display: inline-block;
}

.album-text {
  margin-top: 12px;
  display: inline-block;
  align-items: center;
}

.album-song-title {
  color: var(--clr-text-primary);
  font-weight: bold;
  font-size: var(--fs-heading);
  margin-bottom: 12px;
}
.album-song-artist {
  color: var(--clr-text-secondary);
  font-size: small;
}

@media screen and (max-width: 600px) {
  #album-search {
    width: 90%;
    margin-left: 0;
    display: table;
    margin: 0 auto;
  }
}

.sort-menu {
  display: none;
  float: right;
  background-color: var(--clr-background-highlight-two);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.sort-menu.show {
  display: block;
}

.sort-menu a {
  color: var(--clr-text-primary);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.sort-menu a:hover {
  background-color: var(--clr-background-highlight-three);
}